@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

.gamer{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
left: 170px;
top: -35px;
}
.amerr{
    color: #0B0223;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
left: 170px;
top: -35px;
}
    
.img{
    height: 18px;
    width: 45px;
    position: relative;
    top: 15px;
    left: 117px;
}
.img-2{
    position: relative;
    top: 3px;
    height: 20px;
    width: 28px;
}
.img-3{
    position: relative;
    top: 8px;
    height: 32px;
    width: 30px;
}
.img-4{
    height: 460px;
    width: 500px;
    position: relative;
    left: 350px;
}
.img-5{
    height: 400px;
    width: 600px;
    position: relative;
    left: 65px;
    top: 45px;

}
.img-6{
    height: 400px;
    width: 350px;
    position: relative;
    left: 305px;
}
.img-7{
    height: 235px;
    width: 190px;
    position: relative;
    left: 220px;
    top: -170px;
    

    
}
.r-side{
    color: #3C354F;

font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
margin-right: 25px;
}
#ri-side{
    border-radius: 0px;
background: rgba(11, 2, 35, 0.10);
width: 262px;
height: 56px;
flex-shrink: 0;
}
.container{
    display: flex;
}
.child-2{
    position: relative;
    left: 600px;
}
.baby-1{
    color: #0B0223;
font-family: Work Sans;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
position: relative;
top: 87px;
}
.baby-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 66px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
position: relative;
top: 34px;
}
.baby-3{
    color: #534C64;
font-family: Work Sans;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
position: relative;
left: 320px;
top: -10px;
}
.button-1{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-right: 10px;
}
.button-2{
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.main-container{
    display: flex;
}
.smalll-container{
    position: relative;
    left: 120px;
}
.father{
    display: flex;
}
.fatherr{
    display: grid;
    grid-template-columns: repeat(5,0fr);
  
}
.babys-container{
    position: relative;
    right: 310px;
}


.childd-1{

}
.childd-2{
    position: relative;
    left: 110px;

}
.babyy-1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
left: 190px;
top: 20px;

}
.babyy-2{
    color: #534C64;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
;
}
.babyy-3{
    color: #534C64;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
position: relative;
left: 300px;

}
.baby-4{
    color: #534C64;
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 45px;
position: relative;
left: 100px;
top: -36px;
}
.button-3{
    border-radius: 40px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
position: relative;
left: 250px;

}
.childdd-1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
position: relative;
top: 27px;
}
.childdd-2{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.childd-3{
    color: #534C64;
    font-family: Work Sans;
    font-size: 12px;

}
.imgg{
height: 210px;
width: 180px;
}
.container-scnd{
    display: flex;
    justify-content: space-around;
}
#pic{
    position: relative;
    left: 168px;

}
#pic-1{
    position: relative;
    left: 67px;

}
#pic-2{
    position: relative;
    right: 30px;

}
#pic-3{
    position: relative;
    right: 130px;

}

.p-tag{
    color: #534C64;
font-family: Work Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 353px;
position: relative;
top: -80px;
left: 45px;
}
.mother{
    display: flex;
    position: relative;
    top: 68px;
    height: 690px;
}
.babyyy{
    position: relative;
    left: 270px;
    top: 70px;
}
.h3-tag{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px;
position: relative;
top: 50px;
}
.h3-tagg{
    color: #0B0223;
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.h3-taggg{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    position: relative;
    top: -50px;
    left: 60px;
}
.sif{
    position: relative;
    left: 50px;
}
.button-4{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-1{
    border-radius: 50px;
background: #FFF;
width: 170px;
height: 59px;
flex-shrink: 0;
margin-right: 10px;
margin-left: 45px;
margin-top: 28px;
border: 1px solid palevioletred;
transition: border 0.2s, color 0.2s;
position: relative;
}
.btn-1 span {
    color: palevioletred;
}
.btn-1:hover {
    cursor: pointer;
    border: 1px solid palevioletred;
}
.span-1{
    position: relative;
    top: -20px;
}
#btn-2{
    position: relative;
    left: 80px;
}
.last-container{
    display: flex;
   position: relative;
   left: 500px;
}
.fatherr{
    height: 380px;
}
.last-smal-container{
    text-align: center;
}
.a-tag{
    margin-right: 45px;
    text-decoration: none;
    color: #FFF;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.mini-container{
    position: relative;
    left: 390px;
   
}
.img-8{
    margin-right: 40px;
    margin-top: 50px;
    margin-right: 70px;
}
.contrainer{
    display: flex;
    position: relative;
    left: 300px;
}
.h6-tag{
    margin-right: 50px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.60);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.h6-tagg{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: -52px;
}
.picc{
    position: relative;
    right: 40px;
    top: 40px;

}
#imgss{
    position: relative;
    left: 10px;
}
#last-imgs{
    position: relative;
    right: 20px;
}
.h4-tagg{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: relative;
font-family: Work Sans;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
top: -8px;
left: 20px;
}
.mainn{
    background: #0B0223;
}
.amer{
    color: #FFF;
font-family: Work Sans;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
top: -8px;
left: 20px;
}
#span-2{
    top: 100px;
}
.animation{
    position: relative;
    right: 105px;
    top: -90px;
    background-color: black;
}
.hover:hover{
    cursor: s-resize;

}
.hover:hover .animation{
    background: #0B0223;
    visibility: visible;
}
.hover:hover .imgg{
    transform: scale(1.1);
    animation: backwards;
}
.online{
    color: #0B0223;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    position: relative;
    top: 27px;
}
@media only screen and (max-width: 576px) {
    .container{
        flex-direction: column;
        display: inline;
    }
    .r-side{
        position: relative;
        right: 465px;
        margin-top: 40px;
    }
   
    .child-2{
        display: flex;
       flex-direction: column;
    }
    .headerr{
        flex-direction: column;
    }
    .main-container{
        display: flex;
        flex-direction: column;
    }
    .img-4{
        width: 350px;
       
    }
    .img-con{
        position: relative;
        right: 320px;
        top: 110px;
    }
    .smalll-container{
        position: relative;
        left: 70px;
    }
    .father{
        display: flex;
        flex-direction: column;
       
    }
    .childd-1{
        position: relative;
        right: 65px;

    }
    .img-5{
        width: 400px;
        position: relative;
        right: 100px;
        top: 180px;
    }
    .childd-2{
        position: relative;
        top: 90px;
       left: 40px;
    }
    .babyy-1{
        position: relative;
        right: 20px;
    }
   
    
    
    .babyy-2{
        font-size: 15px;
    }
    .babyyyy-1{
        position: relative;
        right: 130px;
    }
    .babyyyy-2{
        position: relative;
        right: 35px;
    }
    .buttton{
        position: relative;
        right: 160px;
    }
    .p-baby{
        position: relative;
        right: 50px;
    }
    .pp-baby{
        position: relative;
        right: 211px;
    }
    .p-baby{
        position: relative;
        right: 115px;
    }
    .babys-container{
        position: relative;
        right: 310px;
    }
    .container-scnd{
        display: flex;
        flex-direction: column;
    }
    .media-1{
        position: relative;
        right: 50px;
    }
    .media-2{
        position: relative;
        left: 50px;
    }
    .media-3{
        position: relative;
        left: 150px;
    }
    .media-4{
        position: relative;
        left: 250px;
    }
    .mother{
        display: flex;
        flex-direction: column;
    }
    .media-baby{
        position: relative;
        right: 200px;
        top: -130px;
    }
    .img-6{
        height: 300px;
        width: 250px;
    }
    .media-img{
        position: relative;
        right: 160px;
        top: -130px;
       
    }
    .img-7{
        height: 190px;
        width: 160px;
    }
    .media-imgg{
        position: relative;
        right: 160px;
        top: -130px;
        
    }
    .fatherr{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 500px;
    }
    .media-btn-1{
        position: relative;
        right: 20px;
        top: 10px;
    }
    .media-btn-2{
        position: relative;
        right: 50px;
        top: 10px;
    }
    .media-btn-3{
        position: relative;
       right: 20px;
    }
    .media-btn-4{
        position: relative;
        right: 50px;
    }
    .media-btn-5{
        position: relative;
        right: 20px;
    }
    .media-btn-6{
        position: relative;
        right: 130px;}

    .media-btn-7{
            position: relative;
            right: 100px;
    }
    .media-btn-8{
        position: relative;
        right: 130px;
    }
    .media-btn-9{
        position: relative;
        top: -20px;
    }
   .media-gamer{
    position: relative;
    right: 300px;
   }
 .last-smal-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    left: 20px;
 }
 #aa-tag{
    margin-top: 20px;
    margin-left: 1px;
 }
 .img-8{
    position: relative;
    right: 320px;
 }
 .h6-tag{
    position: relative;
    right: 299px;
    
 }
 
}